.details-right {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    &:hover {
        opacity: 0.9;
    }
}
     
.details-left {
    display: flex;
    align-items: center;
    padding: 50px;
    overflow: auto;

    .description-artwork {
        font-size:18px;
    }
}

.logo-wiki {
    height: 20px;
}

.location {
    margin-bottom: 70px;    
    & > span {
        text-transform: capitalize;
        padding: 5px 75px 5px 10px;
        background-color: black;
        font-size: 30px;
        color: white;
    }
}

@media (min-width: 960px) {
    .details-container {
        display: flex;
        height: 100vh;
    
        & > div {
            flex: 1;
        }
    }
}