.header-banner {
    .banner {
        height: 50vh;
        background-image: url('/static/backgrounds/musee-fabre.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        transition: all 0.5s ease;

        &.is-large {
            height: calc(100vh - 52px);
            .search-input {
                background-color: white !important;
                color: #333333 !important;
            }
        }

        .overlay {
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;

            .search-input {
                background-color: rgba(0, 0, 0, 0.1);
                color: white;
                border-radius: 2px;
                border: none;
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}

.artwork-card {
    img {
        object-fit: cover;
        object-position: center top;
    }
}